langchain
langchain-chroma
langchain-community
langchain-core
langchain-experimental
langchain-openai
langchain-pinecone
langchain-text-splitters
langcodes
langdetect
langsmith
language_data==1.2.0
Languages==1.0.0
pandas==2.2.2
pandas-profiling==3.2.0
psycopg2-binary
python-dotenv
chromadb
streamlit
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.0
streamlit-embedcode==0.1.2
streamlit-extras==0.4.2
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.6
streamlit-keyup==0.2.4
streamlit-pills==0.3.0
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
streamlit~=1.36.0
streamlit_extras
